body{
	margin: 0;
	padding: 0;
	background: gray ;
}
nav{
	width: 100%;
	background: black;
	overflow: auto;
}
nav ul{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}
nav ul li{
	padding: 0;
	margin: 0 ;
	list-style: none;
}
nav ul li a{
	width: 100px;
	display: block;
	padding: 20px 15px;
	text-decoration: none;
	color: #f2f2f2f2;
	text-align: center;
}
nav ul li a:hover{
	background: purple;
	transition: 2s;
	text-transform: bold;
	
}
nav ul .logo {
	font-family: 'Harrington';
	font-size: 20px;
	margin-right: auto;
	transition: all 2s ease;


}
nav ul .logo:hover{
	background: purple;
	text-align: center;
	transform: scale(1.5, 1.5);
}




